{% extends "index.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header"><h4 class="title">Actions</h4></div>
                <div class="content">
		        	<form method="GET">
                        <div class="container-fluid">
{% for row in customActions|batch(6) %}
                        <div class="row">
{% for action in row %}
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 text-center">
                                <button class="btn btn-default" type="submit" style="width: 200px; margin-bottom: 5px; margin-top: 5px;" data-original-title="" formaction="/customAction/{{ loop.index0 }}" title="">{{ action.name }}</button>
                            </div>
{% endfor %}
                        </div>
{% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="card">
				<form method="POST" action="setAllTemp">
                    <div class="header"><h4 class="title">Set Temperature</h4></div>
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-8" style="text-align: center;">
            						<div class="form-group">
            							<input type="range" min="12" max="29" step="1" name="targetTemp" value="17" data-rangeslider />
            							<output class="output"></output>
            						</div>
                                    <button class="btn btn-default" type="submit" data-original-title="" title="">Set Temperature</button>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
{% for device in devices %}
{% if device.type == "valve" %}
                                    <label class="checkbox"><input type="checkbox" name="valves[]" data-toggle="checkbox" value="{{ device.peerId }}">{{ device.name }} ({{ device.targetTemp }}&deg;C)</label>
{% endif %}
{% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card">
				<form method="POST">
                    <div class="header"><h4 class="title">Toggle Power</h4></div>
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center;">
                                        <button class="btn btn-success" type="submit" data-original-title="" formaction="/enableAllPower" title="">Activate</button>
                                        <button class="btn btn-warning" type="submit" data-original-title="" formaction="disableAllPower" value="disable" name="action" title="">Deactivate</button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
{% for device in devices %}
{% if device.type == "pwrsensor" %}
                                    <label class="checkbox"><input type="checkbox" name="pwrsensors[]" data-toggle="checkbox" value="{{ device.peerId }}">{{ device.name }} ({% if device.enabled %}ON{% else %}OFF{% endif %})</label>
{% endif %}
{% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
