{% extends "index.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
{% for device in hm.getAllDevices(true) %}
{% if device.type != "switch" %}
            <div class="col-sm-4 col-md-3">
                <div class="card" style="height: 150px;">
                    <div class="header">
                        <h4 class="title">{{ device.name }}</h4>
                    </div>
                    <div class="content">
{% if device.type == "valve" or device.type == "envsensor" %}
					<div class="row">
						<div class="col-xs-4">
							Temperatur:
						</div>
						<div class="col-xs-8">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="{{ device.tempSensor }}" aria-valuemin="0" aria-valuemax="30" style="width: {{ device.tempSensor / 30 * 100  }}%">
									{{ device.tempSensor }}°C
								</div>
							</div>
						</div>
					</div>
{% endif %}
{% if device.humidSensor %}
					<div class="row">
						<div class="col-xs-4">
							Humidity:
						</div>
						<div class="col-xs-8">
							<div class="progress">
								<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ device.humidSensor }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ device.humidSensor }}%">
									{{ device.humidSensor }}%
								</div>
							</div>
						</div>
					</div>{% endif %}
{% if device.type == "valve" %}
					<div class="row">
						<div class="col-xs-4">
							Valve:
						</div>
						<div class="col-xs-8">
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ device.valveState }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ device.valveState }}%">
									{{ device.valveState }}%
								</div>
							</div>
						</div>
					</div>{% endif %}
{% if device.type == "pwrsensor" %}
					<div class="row">
						<div class="col-xs-4">
							State:
						</div>
						<div class="col-xs-8">
                            {% if device.enabled %}enabled{% else %}disabled{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							Power:
						</div>
						<div class="col-xs-8">
                            {{ device.power }}W
						</div>
					</div>
{% endif %}
                 </div>
             </div>	    
         </div>
{% endif %}
{% endfor %}
            <div class="col-sm-4 col-md-3">
                <div class="card" style="height: 150px;">
                    <div class="header">
                        <h4 class="title">NAD C368 Amp</h4>
                    </div>
                    <div class="content">
					<div class="row">
						<div class="col-xs-4">
							Power:
						</div>
						<div class="col-xs-8" id="nadAmpPower"></div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							Volume:
						</div>
						<div class="col-xs-8" id="nadAmpVolume"></div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							Source:
						</div>
						<div class="col-xs-8" id="nadAmpSource"></div>
					</div>
                 </div>
             </div>	    
         </div>

        </div>
    </div>
<script type="text/javascript">
	$(document).ready(function(){
    	nadGet("power", "nadAmpPower");
        nadGet("volume", "nadAmpVolume");
        nadGet("source", "nadAmpSource");
	});
</script>
{% endblock %}

