{% extends "index.html" %}

{% block content %}
<div class="container">
{% for msg in serviceMessages %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ msg.deviceName }}: {{ msg.message }}
            </div>
        </div>
    </div>
{% endfor %}
	<div class="row">
{% for device in devices %}
{% if device.getType() != "switch" %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">{{ device.getName() }}</div>
				<div class="panel-body">
{% if device.getType() == "valve" or device.getType() == "envsensor" %}
					<div class="row">
						<div class="col-xs-4">
							Temperatur:
						</div>
						<div class="col-xs-8">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="{{ device.tempSensor }}" aria-valuemin="0" aria-valuemax="30" style="width: {{ device.tempSensor / 30 * 100  }}%">
									{{ device.tempSensor }}°C
								</div>
							</div>
						</div>
					</div>
{% endif %}
{% if device.humidSensor %}
					<div class="row">
						<div class="col-xs-4">
							Humidity:
						</div>
						<div class="col-xs-8">
							<div class="progress">
								<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ device.humidSensor }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ device.humidSensor }}%">
									{{ device.humidSensor }}%
								</div>
							</div>
						</div>
					</div>{% endif %}
{% if device.getType() == "valve" %}
					<div class="row">
						<div class="col-xs-4">
							Valve:
						</div>
						<div class="col-xs-8">
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ device.valveState }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ device.valveState }}%">
									{{ device.valveState }}%
								</div>
							</div>
						</div>
					</div>{% endif %}
{% if device.getType() == "pwrsensor" %}
					<div class="row">
						<div class="col-xs-4">
							State:
						</div>
						<div class="col-xs-8">
                            {% if device.enabled %}enabled{% else %}disabled{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							Power:
						</div>
						<div class="col-xs-8">
                            {{ device.power }}W
						</div>
					</div>
{% endif %}
				</div>
			</div>	    
		</div>
{% endif %}
{% endfor %}
	</div>
</div>
{% endblock %}
