{% extends "index.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default settings-box">
				<div class="panel-heading">Peers List</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped">
							<tr>
								<th>ID</th>
								<th>Peer Name</th>
								<th>Address/Serial</th>
								<th>Type</th>
								<th>RSSI</th>
								<th>Battery</th>
							</tr>
{% for device in devices %}
							<tr>
								<td>{{ device.getPeerId() }}</td>
								<td>{{ device.getName() }}</td>
								<td>{{ device.getAddress() }}</td>
								<td>{{ device.getTypeString() }}</td>
								<td>{{ device.getRssi() }} dBm</td>
								<td>{% if device.hasBattery() %}{% if not device.batteryLow %}OK{% else %}FAIL{% endif %} ({{ device.batteryVoltage }}V){% else %}n/a{% endif %}</td>
							</tr>
{% endfor %}	
						</table>
					</div>
					{% if peeringStatus %}
					<div class="text-center alert alert-warning" role="alert">
						Peering Active, Remaining Seconds: {{ peeringTimeout }}
					</p>
					{% else %}
					<div class="form-group text-center">
						<form method="POST" action="/enablePeering"><input type="submit" class="btn btn-primary" name="enablePeering" value="Activate Peering (60 seconds)"></form>
					</div>
					{% endif %}
				</div>
			</div>	    
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default settings-box">
				<div class="panel-heading">Link Peers</div>
				<div class="panel-body">
				<form class="form-inline text-center" action="/linkPeers" method="post">
					<div class="form-group">
						<label for="masterPeer">Master Peer</label>
						<select class="form-control" id="masterPeer" name="masterPeer">
{% for device in devices %}
{% if device.getTypeString() == "HM-CC-RT-DN" %}
							<option value="{{ device.getPeerId() }}">{{ device.getName() }}</option>
{% endif %}
{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="slavePeer">Slave Peer</label>
						<select class="form-control" id="slavePeer" name="slavePeer">
{% for device in devices %}
{% if device.getTypeString() == "HM-WDS40-TH-I-2" %}
							<option value="{{ device.getPeerId() }}">{{ device.getName() }}</option>
{% endif %}
{% endfor %}
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Link Peers</button>
				</form>
				<br>
				<p class="text-center">
{% for device in devices %}
{% if device.getTypeString() == "HM-CC-RT-DN" and device.hasLinks %}
{{ device.getName() }} is linked to: {% for peers in device.links %} {{ peers.senderName }}{% endfor %}<br>
{% endif %}
{% endfor %}
				</p>
				</div>
			</div>	    
		</div>
	</div>
</div>
{% endblock %}
