{% extends "index.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default settings-box">
				<div class="panel-heading">Temp Graphs</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<a href="/graphs/all_temp_daily.gif"><img class="img-responsive" src="/graphs/all_temp_daily.gif" /></a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<a href="/graphs/all_temp_weekly.gif"><img class="img-responsive" src="/graphs/all_temp_weekly.gif" /></a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<a href="/graphs/all_temp_monthly.gif"><img class="img-responsive" src="/graphs/all_temp_monthly.gif" /></a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<a href="/graphs/all_temp_yearly.gif"><img class="img-responsive" src="/graphs/all_temp_yearly.gif" /></a>
						</div>
					</div>
				</div>
			</div>	    
			<div class="panel panel-default settings-box">
				<div class="panel-heading">Humidity Graphs</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<a href="/graphs/all_humidity_daily.gif"><img class="img-responsive" src="/graphs/all_humidity_daily.gif" /></a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<a href="/graphs/all_humidity_weekly.gif"><img class="img-responsive" src="/graphs/all_humidity_weekly.gif" /></a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<a href="/graphs/all_humidity_monthly.gif"><img class="img-responsive" src="/graphs/all_humidity_monthly.gif" /></a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<a href="/graphs/all_humidity_yearly.gif"><img class="img-responsive" src="/graphs/all_humidity_yearly.gif" /></a>
						</div>
					</div>
				</div>
			</div>	    
		</div>
	</div>
</div>
{% endblock %}
