{% extends "index.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="card">
                <div class="header"><h4 class="title">Configured Events List</h4></div>
				<div class="content">
					<div class="table-responsive">
						<table class="table table-striped">
							<tr>
								<th>Peer:Channel</th>
								<th>ID</th>
								<th>Trigger</th>
                                <th colspan="2">Method/Params</th>
							</tr>
{% for event in events %}
							<tr>
                                <td>{{ event.peerName }}:{{ event.peerChannel }}<br>{% if event.eventEnabled %}<span class="label label-success">Enabled</span>{% else %}<span class="label label-default">Disabled</span>{% endif %}</td>
								<td>{{ event.eventId }}</td>
                                <td>{{ event.eventTrigger }}:<br>{{ event.peerVariable }}</td>
                                <td>{{ event.eventMethod }}<br>{{ event.eventMethodParams }}</td>
                                <td><a class="btn btn-default" href="/triggerEvent/{{ event.eventId }}" role="button"><span class="pe-7s-play" aria-hidden="true"></span></a></td>
							</tr>
{% endfor %}	
						</table>
				    </div>
				</div>
			</div>
		</div>	    
	</div>
</div>
{% endblock %}
