{% extends "index.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default settings-box">
				<div class="panel-heading">Configured Events List</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped">
							<tr>
								<th>Peer:Channel</th>
								<th>ID</th>
								<th>Trigger</th>
                                <th>Method/Params</th>
							</tr>
{% for event in events %}
							<tr>
                                <td>{{ event.peerName }}:{{ event.peerChannel }}<br>{% if event.eventEnabled %}<span class="label label-success">Enabled</span>{% else %}<span class="label label-default">Disabled</span>{% endif %}</td>
								<td>{{ event.eventId }}</td>
                                <td>{{ event.eventTrigger }}:<br>{{ event.peerVariable }}</td>
                                <td>{{ event.eventMethod }}<br>{{ event.eventMethodParams }}</td>
							</tr>
{% endfor %}	
						</table>
						</div>
					</div>
				</div>
			</div>	    
		</div>
	</div>
</div>
{% endblock %}
